<div class="row">
    <div class="col s12">
        <ul id="menus" class="tabs" tabs>
            <li class="tab col s3"><a href="#llamadas" >llamadas</a></li>
            <li class="tab col s3"><a class="active" href="#chat" >Chat</a></li>
            <li class="tab col s3"><a  href="#contactos" >Contactos</a></li>
        </ul>
    </div>
    <div id="llamadas" class="col s12">
        <p>trabajando...</p>
    </div>
    <div id="chat" class="col s12">
        <div class="contenedorChat">
            <div class="mensajes">
                <!-- ultimos mensajes -->
                <ul class="collection">
                    <li ng-click="conversacion(ultimo.grupoID)" ng-show="ultimo !== undefinied" class="collection-item avatar" ng-repeat="ultimo in ultimosMensajes | orderBy:timestamp:true">
                        <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1393650_10202271743852024_629434410_n.jpg?oh=ce3b771a1d480a65a4edfa07f705da3f&oe=56EEE15C" alt="" class="circle">
                        <span class="title" ng-show="ultimo.numero !== numero">de:{{ultimo.numero}}</span>
                        <span class="title" ng-show="ultimo.numero == numero">Tu :</span>
                        <br>
                        <p>ultimo mensaje : {{ultimo.mensaje}}
                        </p>
                        <a class="secondary-content" href="#chat"><i class="material-icons">grade</i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div id="contactos" class="col s12">
        <ul class="collection">
            <li ng-show="numero !== usuario.numero" ng-click="unoauno(usuario.numero,numero)" class="collection-item avatar" ng-repeat="usuario in usuarios">
                <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1393650_10202271743852024_629434410_n.jpg?oh=ce3b771a1d480a65a4edfa07f705da3f&oe=56EEE15C" alt="" class="circle">
                <span class="title">{{usuario.numero}}</span>
                <p>nombre: "prueba"
                    <br> apellido: "prueba"
                </p>
                <a class="secondary-content" href="#chat"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </div>
</div>